{% extends "expense_tracker_app/base.html" %}
{% block title %}
ET - Register
{% endblock title %}
{% block page_header %}
<p>Expense tracker - Register header</p>
{% endblock page_header %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Register</strong>
                </div>
                <div class="card-body">
                    <form method="post"
                          action="{% url 'users:register' %}">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" name="submit">Register</button>
                        </div>
                        </div>
                        <input type="hidden"
                               name="next"
                               value="{% url 'expense_tracker_app:index' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}