<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" git-->
    <!--          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="col-8 d-flex">
            <a class="navbar-brand" href="{% url 'expense_tracker_app:index' %}">Expense Tracker App</a>
            <ul class="navbar-nav">
                {% with url_name=request.resolver_match.url_name %}
                {% if user.is_authenticated %}
                <li class="nav-item {% if url_name == 'overview' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense_tracker_app:overview' %}">Overview</a>
                </li>
                <li class="nav-item {% if url_name == 'categories_class' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense_tracker_app:categories' %}">List of categories</a>
                </li>
                <li class="nav-item {% if url_name == 'add_category' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense_tracker_app:add_category' %}">Add category</a>
                </li>
                <li class="nav-item {% if url_name == 'add_expense' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense_tracker_app:add_expense' %}">Add expense</a>
                </li>

                {% endif %}
                {% endwith %}
            </ul>
        </div>
        <div class="col4 d-flex justify-content-end">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="nav-link"> Hello, {{ user.username }}.</div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container">
        <!--<div>{% block page_header %}{%endblock page_header %}</div>-->
        <div>{% block content %}{% endblock content%}</div>
    </div>
</main>
<footer class="footer mt-auto py-1 sticky-bottom">
    <hr/>
    <div class="container">
        <p class="text-secondary"><small> Copyright 2023 &#174; Wojciech Maniak</small></p>
    </div>
</footer>

</body>
</html>