{% extends "expense_tracker_app/base.html" %}

{% block title %}
ET - Categories
{% endblock title %}

{% block page_header %}
<span> <a href="{% url 'expense_tracker_app:index' %}" class="text-decoration-none">Home</a> -> Categories</span>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-12">
            {% if categories %}
            <div class="page-title">
                <span>Your expense categories</span>
            </div>
            <div class="row">
                <div class="d-flex flex-wrap w-100">
                    {% for category in categories %}
                    <div class="col-3 mb-3">
                        <a href="{% url 'expense_tracker_app:category' category.id %}"
                           class="card text-info">
                            <div class="card-body text-center">
                                <h6>{{ category }}</h6>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>

            {% else %}
            <div class="text-center">
                <h3>Looks like there are no categories yet.</h3>
                <p>Start by adding a category.</p>
                <p><a href="{% url 'expense_tracker_app:add_category' %}"
                      class="btn btn-info btn">Add a new category</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}