{% extends "expense_tracker_app/base.html" %}

{% block title %}
ET - {{ category.text }} - expenses
{% endblock title %}

{% block page_header %}
<p>ET - {{ category }} - expenses:</p>
{% endblock page_header %}

{% block content %}
<h1> {{ category }} </h1>
{% if expenses %}
<form method="GET"
      action="{% url 'expense_tracker_app:category' category.id  %}"
>
    {{ form }}
    <button>Filter dates</button>
    <button><a href="{% url 'expense_tracker_app:category' category.id  %}">Reset</a></button>

</form>


{% endif %}
<table>
    <tr bgcolor="navyblue">
        <th width="150">Date:</th>
        <th width="300">Description:</th>
        <th width="150">Amount:</th>
        <th width="150">Edit / delete:</th>

    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.date_added|date:'Y-M-d' }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
        <td align="center"><a href="{% url 'expense_tracker_app:edit_expense' expense.id %}"> edit </a> -
            <a href="{% url 'expense_tracker_app:delete_expense' expense.id %}"> delete </a></td>
    </tr>

    {% empty %}
    <h2>There are no expenses in this category yet.</h2>
    {% endfor %}
</table>

{{ chart|safe }}
<a href="{% url 'expense_tracker_app:add_expense' %}">Add a expense</a>
{% endblock content %}