{% extends "expense_tracker_app/base.html" %}

{% block title %}
ET - Categories
{% endblock title %}

{% block page_header %}
<p>Categories of expenses</p>
{% endblock page_header %}

{% block content %}
<ul>
    {% for category in object_list %}
    <li><a href="{% url 'expense_tracker_app:category' category.id %}">{{ category }}</a></li>
    {% empty %}
    <li>No categories have been added yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'expense_tracker_app:add_category' %}">Add a new category</a>
{% endblock content %}