{% extends "expense_tracker_app/base.html" %}

{% block title %}
ET - {{ category.text }} - expenses
{% endblock title %}

{% block page_header %}
<p>ET - {{ category }} - expenses:</p>
{% endblock page_header %}

{% block content %}
<ul>
    {% for expense in expenses %}
    <li> {{ expense.date_added|date:'Y-M-d' }} -
        {{ expense.description }} -
        {{ expense.amount }}</li>
    {% empty %}
    <li>No expenses to be listed in this category.</li>
    {% endfor %}
</ul>
<a href="{% url 'expense_tracker_app:add_expense' %}">Add a expense</a>
{% endblock content %}