{% extends "expense_tracker_app/base.html" %}
{% load widget_tweaks %}

{% block title %}
ET - Add expense
{% endblock title %}

{% block page_header %}
<p>Expense tracker - Add expense header</p>
{% endblock page_header %}

{% block content %}
<div class="container mt-auto pt-5">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <strong>Add an expense:</strong>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info" name="submit">Add expense</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}