{% extends "expense_tracker_app/base.html" %}
{% load expense_filters %}


{% block title %}
ET - Overview
{% endblock title %}

{% block page_header %}
<p>Overview</p>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <div class="row d-flex justify-content-center ">
                <table>
                    <tr bgcolor="navyblue">
                        <th width="300">Category:</th>
                        <th width="150">Total amount:</th>
                    </tr>
                    {% for category in categories %}
                    <tr>
                        <td width="300">{{ category.text }}</td>
                        <td width="150">{{ category|sum_expenses }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row
                d-flex justify-content-center mt-4"><a href="{% url 'expense_tracker_app:add_category' %}"
                                                       class="btn btn-primary btn-lg mx-2">Add a new category</a>
                <a href="{% url 'expense_tracker_app:add_expense' %}" class="btn btn-primary btn-lg mx-2">Add a new
                    expense</a></div>
        </div>
        <div class="col">

            {{ chart|safe }}


        </div>

    </div>

</div>
{% endblock content %}