{% extends "expense_tracker_app/base.html" %}
{% load expense_filters %}

{% block title %}
ET - Overview
{% endblock title %}

{% block page_header %}
<span> <a href="{% url 'expense_tracker_app:index' %}" class="text-decoration-none">Home</a> -> Overview</span>
{% endblock page_header %}

{% block content %}
<div class="container">
    {% if categories %}
    {% if expenses %}
    <div class="page-title">
        <span>Your expenses overview</span>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tr class="bg-info text-white">
                    <th width="60%">Category:</th>
                    <th>Total amount:</th>
                </tr>
                {% for category in categories %}
                {% if category|sum_expenses is not None %}
                <tr>
                    <td>{{ category.text }}</td>
                    <td>{{ category|sum_expenses }}</td>
                </tr>
                {% endif %}
                {% endfor %}

            </table>
            <div class="mt-4">
                <a href="{% url 'expense_tracker_app:add_category' %}"
                   class="btn btn-info mx-2">Add a new category</a>
                <a href="{% url 'expense_tracker_app:add_expense' %}" class="btn btn-info">Add a new
                    expense</a>
            </div>
        </div>
        <div class="col-6">
            {{ chart|safe }}
        </div>
    </div>
    {% else %}
    <div class="row my-4">
        <div class="col-12">
            <div class="text-center">
                <h3>Looks like there are no expenses yet.</h3>
                <p>Start by adding an expense.</p>
                <p><a href="{% url 'expense_tracker_app:add_expense' %}" class="btn btn-info">Add a new expense</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="row my-4">
        <div class="col-12">
            <div class="text-center">
                <h3>Looks like there are no categories yet.</h3>
                <p>Start by adding a category.</p>
                <p><a href="{% url 'expense_tracker_app:add_category' %}" class="btn btn-info">Add a new category</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}


</div>
{% endblock content %}