{% extends "expense_tracker_app/base.html" %}
{% block title %}
ET - Log in
{% endblock title %}
{% block page_header %}
<p>Expense tracker - Login page header</p>
{% endblock page_header %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <strong>Please enter you login and password</strong>
            </div>
            <form method="post"
                  action="{% url 'users:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Your username and password didn't match. Please try again.
                </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <button name="submit">Log in</button>
                </div>
                <input type="hidden"
                       name="next"
                       value="{% url 'expense_tracker_app:index' %}"/>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}